@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
@import url(https://fonts.googleapis.com/css?family=Marck+Script);
/*For news feed*/
@import url("http://www.google.com/uds/solutions/dynamicfeed/gfdynamicfeedcontrol.css");

* {
    text-shadow: none !important;
    box-sizing: border-box !important;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    -o-box-sizing: border-box !important;
}

body {
    background-image: url('../themes/tulip4.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
}

h1 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    color: #FFF;
}

.card-shadow, #searchBox {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -moz-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
    -o-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

/* Content -------------------- */
#wrapper {
    padding-left: 50px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 350px;
}

#sidebar-wrapper {
    color: #FFF !important;
    z-index: 1000;
    position: fixed;
    top:0px;
    left: 250px;
    width: 50px;
    height: 100%;
    margin-left: -250px;
    background: rgba(0,0,0,0.8);
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 350px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar -------------------- */
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 350px;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar-fixed {
    position: fixed;
    top: 0;
    width: 50px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    background: #000;
    height: 100%;
}

#sidebar-icons {
    list-style-type: none;
    width: 50px;
    font-size: 30px;
    padding: 10px;
    float:left;
}

#sidebar-icons a:link, #sidebar-icons a:visited {
    color: #FFF;
}

#sidebar-icons a:hover, #sidebar-icons a:active {
    color: aqua;
}

.tab-content {
    display: inline-block !important;
    width: 300px;
    padding: 10px;
}

.inner-tab-content {
    padding: 0px !important;
    width: 280px !important;
}

.nav-tabs {
    border-bottom: 0px !important;
}

.nav-tabs a {
    color: #FFF !important;
}

.nav-tabs .active {
    border-radius: 0px !important;
    background-color: #FFF !important;
}

.nav-tabs li:hover, .nav-tabs a:hover {
    border-radius: 0px !important;
    border-bottom: 0px !important;
    color: #00BBFF !important;
}

.nav-tabs .active a {
    border: 1px solid #FFF !important;
    color: #333 !important;
}

/* Side bar Forms -------------------- */
.forms {
    border-radius: 1px !important;
    background-color: #FFF;
    padding: 10px;
}

.forms h4 {
    color: #AAA !important;
}

input {
    border-radius: 0px !important;
    border: 0px !important;
    background-color: rgba(0,0,0,0) !important;
    border-bottom: 1px solid #eee !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    color: #888 !important;
}

input:focus {
    border-bottom: 1px solid #00BBFF !important;
    -webkit-transition: all 0.15s ease-in-out;
    -moz-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

#signInButton, #signUpButton, #fbFeedSave, #themeSelect {
    background-color: #00BBFF !important;
    border: 0px !important;
    color: #fff !important;
    text-shadow: none !important;
}

/* GMail widget -------------------- */
.img-circle {
    height: 42px;
    width: 42px;
}

#GName {
    font-size: 16px;
    font-weight: 300;
    margin: 10px 0 0;
    min-height: 1em;
}

#authorize-button, #authorize-youtube-button {
    background-color: #F44336 !important;
    border-radius: 0px !important;
    border: 1px solid #FFF!important;
    margin-top: -10px !important;
    color: #FFF !important;
}

#authorize-button:hover {
    background-color: #FFF !important;
    color: #F44336 !important;
}

#authorize-youtube-button {
    background-color: #cc181e !important;
}

#authorize-youtube-button:hover {
    background-color: #FFF !important;
    color: #cc181e !important;
}

#compose-button {
    background-color: #F44336 !important;
    border-radius: 0px !important;
    border: 1px solid #FFF!important;
    margin-top: -10px !important;
    color: #FFF !important;
}

#compose-button:hover {
    background-color: #FFF !important;
    color: #F44336 !important;
}

#compose {
    padding-left: 150%;
}

iframe {
    width: 100%;
    border: 0;
    min-height: 100%;
    height: 300px;
    display: flex;
}
.gmail {
    width: 100%;
    height: 100%;
}
.mail-table {
    width: 100% !important;
    height: auto;
    word-break: break-all;
}

.modal-content {
    border-radius: 1px !important;
    height: 80% !important;
}

.modal-dialog, .modal-lg {
    height: 100% !important;
}

.modal-body {
    height: 80% !important;
}

.modal-body iframe {
    height: 100% !important;
}

.modal-footer .btn {
    background-color: #F44336 !important;
    border-radius: 1px !important;
    border: 1px solid #F44336 !important;
    margin-top: -10px !important;
    color: #FFF !important;
}

.modal-footer .btn:hover {
    background-color: #FFF !important;
    color: #F44336 !important;
}

@media screen and (max-width: 1000px) {
    .table-responsive>.table>tbody>tr>td, .table-responsive>.table>tbody>tr>th, .table-responsive>.table>tfoot>tr>td, .table-responsive>.table>tfoot>tr>th, .table-responsive>.table>thead>tr>td, .table-responsive>.table>thead>tr>th {
        white-space:  normal !important;
        word-break: break-all !important;
    }
}

/* Widgets common -------------------- */
.widgets, .landscapeWidgets {
    height: 400px;
    background: #FFF;
    margin: 0px;
}

.landscapeWidgets {
    height: 400px !important;
}

.widgets h2, .landscapeWidgets h2 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300 !important;
    margin: 8px !important;
    display: inline-block !important;
    color: #FFF !important;
}

.widgets label a, .landscapeWidgets label a {
    color: #FFF !important;
}

.widgets a, .landscapeWidgets a {
    color: #11aafa;
}

.widgets label, .landscapeWidgets label {
    float: right;
    margin-right: 10px;
    margin-top:3px;
}

.widgetIcons {
    font-size: 30px !important;
}

.fa-external-link {
    padding-right: 5%;
}

.widget-icon{
    padding: 1%;
}

.col-md-4, .col-md-6, .col-md-3 {
    padding-bottom: 30px !important;
}

/* Widget headers -------------------- */
#twitterHeader {
    background-color: #1da1f2;
    height: 50px !important;
}

#gMailHeader {
    background-color: #F44336;
    height: 50px !important;
}

#facebookHeader {
    background-color: #3B5998;
    height: 50px !important;
}
#youtubeHeader {
    background: #cc181e;
    height: 50px !important;
}

#cricketHeader {
    background-color: #3B5998;
    height: 50px !important;
}

#googleMapHeader {
    background-color: #22A565;
    height: 50px !important;
}

#weatherHeader {
    background-color: #673AB7;
    height: 50px !important;
}

#newsHeader {
    background-color: #034484;
    height: 50px !important;
}

/* Widget body -------------------- */
#twitterBody , #gMailBody, #facebookBody, #youtubeBody, #cricketBody {
    height: 350px !important;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: auto !important;
    width: 100% !important;
}

/* Web search -------------------- */
#searchBox {
    border-radius: 1px !important;
    border: 0px solid #FFF !important;
    background-color: #FFF !important;
    display: inline !important;
    margin-right: 2px !important;
}

.searchButtons {
    border-radius: 1px !important;
    width: 40px !important;
    height: 40px !important;
    background-size: 100% 100% !important;
    border: 0px !important;
    margin-right: 5px !important;
}

#googleButton {
    background-image: url("../images/googleLogo.png");
}

#bingButton {
    background-image: url("../images/bingLogo.png");
}

#cricketBody {
    background-image: url("../images/sachin.jpg");
    background-size: cover;
}

#yahooButton {
    background-image: url("../images/yahooLogo.png");
}

#wikipediaButton {
    background-image: url("../images/wikipediaLogo.png");
}

/* Twitter widget -------------------- */
#twitterBody h3 {
    color: #1da1f2;
}

.tweet {
    font-family: 'Marck Script', cursive;
    font-size: 24px !important;
}

/* GoogleMap widget -------------------- */
#googleMap {
    height: 350px !important;
}

#pac-input {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    background-color: #fff !important;
    font-size: 15px;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: auto;
}

#pac-input:focus {
    border-color: #4d90fe;
}

.pac-container {
    font-family: 'Roboto', sans-serif !important;
}

#type-selector {
    color: #fff;
    background-color: #4d90fe;
    padding: 5px 11px 0px 11px;
}

#type-selector label {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    font-size: 13px;
}

#target {
    width: 345px;
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

/* Weather widget -------------------- */
#weather{
    position:relative;
    overflow:hidden;
    height: 350px;
}

#weather:before{
    background: url("../img/preloader.gif") no-repeat center center #FFF;
    content: "";
    height: 44px;
    left: 50%;
    margin: -22px 0 0 -22px;
    opacity: 0.7;
    position: absolute;
    top: 50%;
    width: 44px;
}

#weather.error:before{
    display:none;
}

#weather.error{
    text-align:center;
    font-size: 20px;
}

#weather.loaded #scroller,
#weather.loaded .arrow{
    display:block
}

#weather.loaded:before{
    display:none;
}

#weather.loaded{
    background-color: #FFF;
}

#weather.first a.previous,
#weather.last a.next{
    display:none;
}

#scroller{
    position:absolute;
    list-style:none;
    width:100%;
    height: 220px;
    white-space:nowrap;
    top:0;
    left:0;
    padding: 0px !important;
}

#scroller li{
    position:relative;
    width:100%;
    height:100%;
    display:inline-block;
    text-align:center;
}

#scroller li img{
    display:block;
    margin: 35px auto 0;
}

#scroller li .day{
    color:#673AB7;
    font-size:18px;
    padding-top: 50px;
}

#scroller li .day b{
    font-weight:300;
    color:#673AB7;
}

#scroller li .cond{
    bottom: -52px;
    color: #673AB7;
    font-size: 24px;
    position: absolute;
    width: 100%;
}

#scroller li .cond b{
    text-transform:uppercase;
}

#scroller, .arrow{
    display:none;
}

.arrow{
    position:absolute;
    top:50%;
    margin-top:-45px;
    overflow: hidden;
    font-size: 30px;
}

.arrow:hover{
    opacity:1;
}

.arrow.previous{
    left:20px;
}

.arrow.next{
    background-position:top right;
    right:20px;
}

p.location{
    font-size:20px;
    color:#673AB7;
    text-align:center;
    margin-top:300px;
}

p.location b{
    color:#FFF;
}

/* Youtube widget -------------------- */
#youtubeSearch {
    background-color: #cc181e !important;
    border-radius: 1px !important;
    border: 1px solid #FFF!important;

    color: #FFF !important;
    width:auto !important;
}

#youtubeSearch:hover {
    background-color: #FFF !important;
    color: #cc181e !important;
    border: 1px solid #cc181e !important;
}

#search:focus {
    border-bottom-color: #cc181e !important;
}

#youtube-form {
    padding-top: 20px !important;
}

.item {
    margin-bottom: 25px;
    width: 45%;
    height: 50%;
    float: left;
    margin: 2%;
}

iframe {
    width: 100%;
    border: 0;
    min-height: 80%;
    height: 50% !important;
    display: flex;
}

.btn-primary {
    background: #952b2b;
    border-color: #957575;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    background: #782b2b;
    border-color: #952b2b;
}

/* Alert box */
.alert-danger, .alert-success {
    border-radius: 1px !important;
    background-image: none !important;
    color: #000 !important;
    text-shadow: none !important;
}

.alert-danger {
    background-color: #dc143c !important;
    border: 1px solid #dc143c !important;
}
.alert-success {
    background-color: #05dca6 !important;
    border: 1px solid #05dca6 !important;
}

/* Theme showcase */
.theme-showcase {
    width: 270px;
    height: 150px;
    display: inline-block;
    margin: 2px;
    border: 2px solid #ccc;
}

.theme-modal-body {
    overflow: auto;
}

#tulip1 {
    background-image: url('../themes/tulip1.jpg');
    background-size: 100% 100%;
}

#tulip2 {
    background-image: url('../themes/tulip2.jpg');
    background-size: 100% 100%;
}
/*News feed*/
#feedControl {
    margin-top : 10px;
    margin-left: auto;
    margin-right: auto;
    width : 90%;
    font-size: 30px;
    color: #9CADD0;
}
.gfg-root {
    width: 100%;
    height: 240px !important;
    position: relative;
    overflow: hidden;
    text-align: center;
    font-size: 16px;
    border: 0px !important;
}

.gfg-title {
    font-size: 16px !important;
    font-weight: 300 !important;
    background-color: #FFF !important;
    border-bottom: 1px solid #EEE;
}

.gfg-entry {
    background-color: white;
    width: 100%;
    height: 6.9em;
    position: relative;
    overflow: hidden;
    text-align: left;
    margin-top: 3px;
    font-size: 16px;
}

.landscapeWidgets a {
    color: #11aafa;
}
/*Cricket*/
.scoreLink{
    color: #FFF !important;
    font-size: 18px !important;
}

#tulip3 {
    background-image: url('../themes/tulip3.jpg');
    background-size: 100% 100%;
}

#tulip4 {
    background-image: url('../themes/tulip4.jpg');
    background-size: 100% 100%;
}

.abcRioButtonContentWrapper, .abcRioButtonLightBlue, .g-signin2 {
    width: 35px !important;
    height: 35px !important;
    display: inline !important;
}

.abcRioButtonContentWrapper span {
    display: none !important;
}

.abcRioButtonIcon {
    border: 1px solid #ddd;
}

.abcRioButtonIcon div {
    height:24px !important;
    width: 24px !important;
}

.abcRioButtonIcon svg {
    height:24px !important;
    width: 24px !important;
}

#facebookButton {
    font-size: 30px !important;
    display: inline !important;
    color: #3B5998 !important;
    padding-top: 2px !important;
    padding-bottom: 3px !important;
    padding-left: 7px !important;
    padding-right: 7px !important;
    border: 1px solid #ddd;
    margin-left: 5px !important;
    cursor: pointer;
    cursor: hand;
}

#facebookBody p {
    word-break: break-all;
    font-size: 18px;
}

.selectpicker {
    border:1px solid #EEE !important;
    border-radius: 0px !important;
    outline: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
}

.selectpicker:focus {
    outline: none !important;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    background-color: #FFF !important;
}

.optional {
    float: left !important;
    font-weight: 300 !important;
    padding-left: 10px !important;
    font-size: 18px !important;
}

.gfg-listentry-odd {
    background-color: #FFF !important;
}

.gfg-list {
    border-top: 1px solid #EEE;
}

.gf-relativePublishedDate, .gf-snippet {
    font-size: 14px !important;
    color: #333 !important;
}

#liveRefresh {
    height: 340px !important;
}

#twitterNotSignedIn, #gmailNotSignedIn, #facebookNotSignedIn, #youtubeNotSignedIn {
    height: 350px !important;
    margin-left: -5px !important;
    margin-right: -5px !important;
    color: #FFF !important;
    font-size: 24px !important;
    padding: 10px !important;
}

#twitterNotSignedIn {
    background-color: #1da1f2;
}

#gmailNotSignedIn {
    background-color: #F44336;
}

#facebookNotSignedIn {
    background-color: #3B5998;
}

#youtubeNotSignedIn {
    background-color: #cc181e;
}

#twitterNotSignedIn span, #gmailNotSignedIn span,
#facebookNotSignedIn span, #youtubeNotSignedIn span{
    font-size: 72px !important;
}

#about .forms p {
    color: #555 !important;
    font-family: 'Roboto', sans-serif !important;
    font-size: 16px !important;
    font-weight: 300;
}

#about .forms h3 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 300;
    color: #00BBFF !important;
}